<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Base_URL</key>
	<string>private-fcaec-tqihubapi.apiary-mock.com</string>
	<key>Protocol</key>
	<string>https</string>
	<key>Environment</key>
	<string>sandbox</string>
</dict>
</plist>
